* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






















/* small mobile */
@media only screen and (max-width: 360px) {

    h1 {
        color:blue;
    }

}

/* mobile */
@media only screen and (min-width: 361px) and (max-width: 400px) {

    h1 {
        color:brown;
    }

}

/* large mobile */
@media only screen and (min-width: 401px) and (max-width: 640px) {

    h1 {
        color:orange;
    }

}

/* small tablet */
@media only screen and (min-width: 641px) and (max-width: 768px) {

    h1 {
        color:red;
    }

}

/* tablet/desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    h1 {
        color:maroon;
    }

}

/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {

    h1 {
        color:brown;
    }

}

/* big desktop */
@media only screen and (min-width: 1401px) and (max-width: 1919px) {

    h1 {
        color:grey;
    }

}

/* massive desktop */
@media only screen and (min-width: 1920px) {

    h1 {
        color:pink;
    }

}



@font-face {
    font-family: sloth-light;
    src: url(fonts/sloth/sloth-light-webfont.woff2);
}

@font-face {
    font-family: sloth-regular;
    src: url(fonts/sloth/sloth-regular-webfont.woff2);
}

@font-face {
    font-family: sloth-semibold;
    src: url(fonts/sloth/sloth-semibold-webfont.woff2);
}

@font-face {
    font-family: sloth-bold;
    src: url(fonts/sloth/sloth_bold-webfont.woff2);
}

@font-face {
    font-family: sloth-extrabold;
    src: url(fonts/sloth/sloth_extrabold-webfont.woff2);
}
