* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --main-body-color: hsl(0, 0%, 94%);
    --transparent: hsl(0, 0%, 0%, 0);

    --header-text-color: hsl(0, 0%, 0%);
    --body-text-color: hsl(0, 0%, 0%);

    --main-shadow-color: hsl(0, 0%, 0%);
    --header-shadow-color: 	hsl(0, 0%, 41%);

    --header-height: 70px;
    
    --dropdown-box-width: 54px;
    transition: --dropdown-box-width 0.3s cubic-bezier(0.44, 0.21, 0, 1);
    --dropdown-buffer-width: 70px;


    --shadow-sway: 9px;
    --main-shadow: 4px;

    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: url(../images/leaves-background-light.jpg);

    font-family: "Helvatica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.main-header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
}

.main-header a:link {
    text-decoration: none;
    list-style: none;
}

.main-header a:visited {
    color: var(--header-text-color);
}

.background-layer {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background: var(--main-body-color);
    box-shadow: 2px var(--main-shadow) 10px var(--main-shadow-color);
}

.menu-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    align-items: center;

    z-index: 5;
}

.menu {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-left: 5.5%;
}

.menu > li {
    list-style: none;
    font-family: "sloth-extrabold";
    font-size: 15px;
    text-shadow: 5px var(--shadow-sway) 5px var(--header-shadow-color);

}

.animated-cover-layer {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: right;
    align-items: center;
    height: var(--header-height);

    z-index: 10;
    pointer-events: none;
}

.animated-cover {
    width: 100%;
    height: 100%;
    margin-right: var(--dropdown-box-width);
    transition: margin-right 0.3s cubic-bezier(0.44, 0.21, 0, 1.1);

    background: var(--main-body-color);
}


.animated-buffer {
    width: var(--dropdown-buffer-width);
}

.animated-box-layer {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: right;
    align-items: center;
    height: var(--header-height);

    z-index: 15;
    pointer-events: none;
}

.animated-box {
    width: var(--dropdown-box-width);
    transition: width 0.3s cubic-bezier(0.44, 0.21, 0, 1);
    height: 46px;
    margin-right: 45px;
    margin-left: 12px;
    border-radius: 3px;
    
    background: var(--transparent);
    box-shadow: inset 2px var(--main-shadow) 10px var(--main-shadow-color),
                0 0 0 10px var(--main-body-color);
                
}

.logo-container {
    position: fixed;
    display: flex;
    height: var(--header-height);
    justify-content: left;
    align-items: center;
    width: 100%;

    z-index: 20;

    visibility: hidden;
}

.logo {
    margin: 0rem 0rem 0rem 1.3rem;

    width: auto;

    font-family: "sloth-extrabold";
    font-size: 40px;

    text-shadow: 5px var(--shadow-sway) 5px var(--header-shadow-color);
}

.dropdown-container {
    position: fixed;
    display: flex;
    height: var(--header-height);
    width: 100%;

    justify-content: right;
    align-items: center;

    z-index: 25;
    pointer-events: none;
}

.main-dropdown {
    margin-right: 50px;
    width: 41.5px;
    cursor: pointer;
    border: none;
    background: none;
    pointer-events: all;
}

.drop-bar-1, .drop-bar-2, .drop-bar-3 {
    width: 31.5px;
    height: 4px;
    margin: 4px;
    background: var(--header-text-color);

    box-shadow: 5px var(--shadow-sway) 5px var(--header-shadow-color);

}


.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    margin-top: 140px;
    margin-bottom: 70px;
}

.main-page-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    margin-bottom:150px;
    background: var(--main-body-color);

    box-shadow: 2px 6px 10px var(--main-shadow-color),
                2px -1px 10px var(--main-shadow-color);
}

.content-outer:last-of-type {
    margin-bottom: 0;
}

.content-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: inset 2px var(--main-shadow) 10px var(--main-shadow-color);

    
    background: var(--main-body-color);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 30px;

}

.content > h1 {
    margin-bottom: 20px;
}

.main-footer {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 130px;
    width: 100%;


    background: var(--main-body-color);
    box-shadow: 2px var(--main-shadow) 10px var(--main-shadow-color);
}


/* small mobile */
@media only screen and (max-width: 360px) {

    h1 {
        color:blue;
    }

}

/* mobile */
@media only screen and (min-width: 361px) and (max-width: 400px) {

    h1 {
        color:brown;
    }

}

/* large mobile */
@media only screen and (min-width: 401px) and (max-width: 640px) {

    h1 {
        color:orange;
    }

}

/* small tablet */
@media only screen and (min-width: 641px) and (max-width: 768px) {

    h1 {
        color:red;
    }

}

/* tablet/desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    h1 {
        color:maroon;
    }

}

/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {

    h1 {
        color:brown;
    }

    .animated-cover-layer, .animated-box-layer, .dropdown-container {
        visibility: hidden;
    }

    .logo-container {
        align-items: left;
        width: 30%;
    }

    .logo {
        margin: 0rem 0rem 0rem 2.6rem;
        font-size: 50px;
    }

    .logo:hover {
        text-shadow: 5px var(--shadow-sway) 5px var(--header-shadow-color),
                     5px var(--shadow-sway) 2px var(--header-shadow-color);
    }

    .menu-container {
        justify-content: flex-end;
    }

    .menu {
        width: 70%;
        justify-content: space-around;
    }

    .menu > li {
        font-size: 18px;
    }

    .menu > li:hover {
        text-shadow: 5px var(--shadow-sway) 5px var(--header-shadow-color),
                     5px var(--shadow-sway) 2px var(--header-shadow-color);
    }


    .menu >li:last-of-type {
        margin-right: 10%;
    }

    .animated-box {
        margin-left: 17px;
    }

    .main-page {
        width: 60%;
        background: var(--main-body-color);

        border-radius: 3px;

        box-shadow: 2px var(--main-shadow) 10px var(--main-shadow-color);
    }

    .main-page-inner {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 3px;
        background: var(--main-body-color);

        margin: 17px;
        padding: 50px;

        box-shadow: inset 2px var(--main-shadow) 10px var(--main-shadow-color);
    }

    .content-inner, .content-outer {
        background: none;
        margin: 0;
        box-shadow: none;
        border-radius: 3px;

    }

    .content {
        width: 90%;
    }


}

/* big desktop */
@media only screen and (min-width: 1401px) and (max-width: 1919px) {

    h1 {
        color:grey;
    }

}

/* massive desktop */
@media only screen and (min-width: 1920px) {

    h1 {
        color:pink;
    }


}





@font-face {
    font-family: sloth-light;
    src: url(fonts/sloth/sloth-light-webfont.woff2);
}

@font-face {
    font-family: sloth-regular;
    src: url(fonts/sloth/sloth-regular-webfont.woff2);
}

@font-face {
    font-family: sloth-semibold;
    src: url(fonts/sloth/sloth-semibold-webfont.woff2);
}

@font-face {
    font-family: sloth-bold;
    src: url(fonts/sloth/sloth_bold-webfont.woff2);
}

@font-face {
    font-family: sloth-extrabold;
    src: url(fonts/sloth/sloth_extrabold-webfont.woff2);
}
